# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
TestResults/
*.log

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Unity crashlytics
crashlytics-build.properties

# Exports
*.apk
*.aab
*.exe
*.app
ExportedObj/
game_screenshot.bmp
*.log
objects.txt
scene_objects.txt
